# ex/settings.rc


if [ "$UID" == "0" ]; then
    SUDO=
else
    SUDO=sudo
fi

CACHEDIR=~/cache
for i in /vagrant /suse-studio /media/sf_suse-studio; do
    if [ -d $i ]; then
        CACHEDIR=$i/cache
    fi
done

